.doctorcont1 {
  height: 100vh;
  background: url(../components/images/20504185.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.doctorcont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media all and (max-width: 1200px) {
  .doctorcont {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 790px) {
  .doctorcont {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}
