.FormCont {
  background: url(../components/images/20504185.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
