.lab {
  height: 100vh;
  background: url(../components/images/271192401_287494900085712_1011034582062955100_n.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 99px;
}
.homwcontainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pdf-container {
  width: 100%;
  height: 650px;
  background-color: #b2b2b2;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-msg {
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
input[type="file"] {
  background-color: white;
  padding: 10px 20px;
}
.inp1 {
  background-color: white;
  padding: 10px 20px;
}
@media all and (max-width: 800px) {
  .lab {
    margin: 0;
  }
}
.doctorcont {
  margin: 0 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  place-items: center;
}
@media all and (max-width: 1200px) {
  .doctorcont {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 790px) {
  .doctorcont {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}
