@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
.navbar-container {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn {
  margin-left: 20px !important;
  font-family: "Raleway", sans-serif !important;
}
.active {
  border-bottom: 1px solid rgb(253, 170, 61) !important;
  padding-bottom: 3px !important;
}
.logout {
  font-size: 20px !important;
  padding-left: 60px !important;
}
